{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ recipe.title }}{% endblock %}

{% block headerImage %}{{asset('uploads/'~recipe.picture)}}{% endblock %}
{% block headerTitle %}{{ recipe.title }}{% endblock %}

{% block body %}

    <main class="container">

        <section class="row">
            <div class="col-md-4">
                <img src="{{  asset('uploads/'~recipe.picture) }}" alt="{{ recipe.title}}" class="img-responsive">
                <div class="label"><a href="#" class="like"><i class="fa fa-heart"></i></a> 42</div>
                <div class="label"><i class="fa fa-cutlery"></i> {{ recipe.category.label }}</div>
                <div class="label"><i class="fa fa-user"></i> Etienne H.</div>
                <div> {# TODO : liste des tags #}</div>
            </div>
            <div class="col-md-4">
                <h2>Temps requis</h2>
                <ul>
                    <li>Temps de préparation : {{ recipe.preparationTimeFormat }}</li>
                    <li>Temps de cuisson : {{ recipe.bakingTimeFormatted}}</li>
                </ul>
                <h2>Etapes de préparation</h2>
                <ul>
                    {% for step in recipe.steps %}
                    <li>
                        <b>Etape {{ step.number }}</b>
                        <p>{{ step.description }}</p>

                    </li>
                    {% endfor %}

                </ul>

            </div>
            <div class="col-md-4">
                <h2>Ingrédients</h2>

                <ul>
                    {% for recipeIngredient in recipe.recipeIngredients  %}
                        <li>{{ recipeIngredient.ingredient.label }} : {{ recipeIngredient.quantity }}{{ recipeIngredient.unit.label }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>



    </main>

{% endblock %}
